
@{
    ViewData["Title"] = "Index2";
    
}
<html>
<head>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/jquery/dist/jquery.min.js"/>
    
</head>
<body>
    <p>Mertosum hos geldin suan index2'desin canimin içi</p>
    <a class="btn btn-warning" href="#">Click</a>
</body>

</html>




